# .DS_Store files
*.ds_store

# Input for device identification
VirtualGridHub/DevicesClassify/EvalCSV
VirtualGridHub/DevicesClassify/EvalCWT

# Output
VirtualGridHub/main/sampling_distribution/python/output
VirtualGridHub/main/sampling_distribution/python/csv